<% if (title) { %>
   <h1 class="account-title"><%= title %></h1>
   <% } else {
      res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
   <ul class="notice">
   <% errors.array().forEach(error => { %>
      <% if (error.msg !== "Invalid value") { %>
         <li><%= error.msg %></li>
      <% } %>
   <% }) %>
   </ul>
<% } %>

<div class="edit-account">
   <form class="account-update" action="/account/update-account" method="post">
      <label for="account_firstname">First Name</label><br>
      <input type="text" id="account_firstname" name="account_firstname" required pattern="[A-Za-z\s]+" value="<%= account_firstname %>"><br>

      <label for="account_lastname">Last Name</label><br>
      <input type="text" id="account_lastname" name="account_lastname" required pattern="[A-Za-z\s]+" value="<%= account_lastname %>"><br>

      <label for="account_email">Email</label><br>
      <input type="email" id="account_email" name="account_email" required value="<%= account_email %>"><br>

      <input type="hidden" name="account_id" value="<%= locals.account_id %>">

      <button type="submit">Update Account</button>
   </form>

   <form class="change-password" action="/account/update-password" method="post">
      <h2>Update Password</h2>
      <p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</p>
      <p>*Note your original password will be changed.</p>

      <label for="account_password">Password</label><br>
      <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>

      <input type="hidden" name="account_id" value="<%= locals.account_id %>">
      <button type="submit">Update Password</button>
   </form>
</div>