<% if (title) { %>
   <h1 id="edit-review-title"><%= title %></h1>

   <%- messages() %>

   <% if (errors) { %>
      <ul class="notice">
      <% errors.array().forEach(error => { %>
         <% if (error.msg !== "Invalid value") { %>
            <li><%= error.msg %></li>
         <% } %>
      <% }) %>
      </ul>
   <% } %>

   <form class="edit-review-form" action="/review/update" method="post">
      <p>ALL FIELDS ARE REQUIRED.</p>
      <div class="form-content">
         <label for="review_date">Review Date</label></br>
         <input type="text" id="review_date" name="review_date" required readonly value="<%= locals.review_date %>"></br>

         <label for="review_text">Review Text</label></br>
         <textarea id="review_text" name="review_text" required minlength="10"><%= locals.review_text %></textarea></br>

         <button type="submit">Update</button>

         <input type="hidden" name="review_id" value="<%= review_id %>">
         <input type="hidden" name="inv_id" value="<%= inv_id %>">
         <input type="hidden" name="account_id" value="<%= account_id %>">
      </div>
   </form>

<% } else {
   res.redirect('/')
} %>